# IBM Capstone Week 3 Assignment

# URL for Dataset is

url:https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

# Using this data will create dictionary

In [2]:
#Creating Dictionary

In [25]:
dataset ={ 'postcode': ['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B', 'M5B'], 'Borough': ['North York', 'North York', 'Downtown Toronto', 'North York', 'North York', 'Downtown Toronto', 'Queens Park', 'Scarborough', 'Scarborough', 'East York'], 'Neighbourood': ['Parkwoods', 'Victoria Village', 'Regent Park', 'Lawrence Heights', 'Lawrence Manor', 'Queens Park', 'Rouge', 'Malvern', 'Don Mills North', 'Woodbine Gardens'] }

In [26]:
#importing librarires
import numpy as np
import pandas as pd

In [27]:
df = pd.DataFrame(dataset)

In [32]:
df

  postcode           Borough      Neighbourood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto       Regent Park
3      M6A        North York  Lawrence Heights
4      M7A        North York    Lawrence Manor
5      M9A  Downtown Toronto       Queens Park
6      M1B       Queens Park             Rouge
7      M3B       Scarborough           Malvern
8      M4B       Scarborough   Don Mills North
9      M5B         East York  Woodbine Gardens

In [33]:
df.shape

(10, 3)